@model ZHPEvents.Core.Entities.Event

@{
    ViewData["Title"] = Model.Title + " - edycja";
    Layout = "_DashboardLayout";
}

@section BreadcrumbItem {
    <li class="breadcrumb-item active">@Model.Title</li>
}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-calendar-alt"></i> Edycja wydarzenia o nazwie: @Model.Title
            </div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Title" class="col-form-label"></label>
                            <input asp-for="Title" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Organizaer" class="col-form-label"></label>
                            <input asp-for="Organizaer" class="form-control">
                            <span asp-validation-for="Organizaer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Type" class="col-form-label"></label>
                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<ZHPEvents.Core.Entities.EventType>()" class="form-control"></select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Category" class="col-form-label"></label>
                            <select asp-for="Category" asp-items="Html.GetEnumSelectList<ZHPEvents.Core.Entities.EventCategory>()" class="form-control"></select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Date" class="col-form-label"></label>
                            <input asp-for="Date" class="form-control">
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="LastDayOfEntries" class="col-form-label"></label>
                            <input asp-for="LastDayOfEntries" class="form-control">
                            <span asp-validation-for="LastDayOfEntries" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-form-label"></label>
                        <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Place" class="col-form-label"></label>
                            <input asp-for="Place" class="form-control">
                            <span asp-validation-for="Place" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="NumberOfSeats" class="col-form-label"></label>
                            <input asp-for="NumberOfSeats" class="form-control">
                            <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Contact" class="col-form-label"></label>
                            <input asp-for="Contact" class="form-control">
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="RegistrationMail" class="col-form-label"></label>
                            <input asp-for="RegistrationMail" class="form-control">
                            <span asp-validation-for="RegistrationMail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ForWhom" class="col-form-label"></label>
                        <input asp-for="ForWhom" class="form-control">
                        <span asp-validation-for="ForWhom" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-pill  btn-outline-success" />
                        <a asp-action="Index" class="btn btn-pill  btn-outline-secondary" role="button">Powrót do listy wydarzeń</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
        <div class="card sticky-top text-white bg-info">
            <div class="card-header">Edycja wydarzeń</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
