@model ZHPEvents.Core.Entities.Event

@{
    ViewData["Title"] = Model.Title + " - edycja";
    Layout = "_DashboardLayout";
}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-calendar-alt"></i> Edycja wydarzenia o nazwie: @Model.Title
            </div>
            <form asp-action="Edit">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-pill  btn-outline-success" />
                        <a asp-action="Index" class="btn btn-pill  btn-outline-secondary" role="button">Powrót do listy wydarzeń</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card text-white bg-info">
            <div class="card-header">Edycja wydarzeń</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
