@using ZHPEvents.ViewModels.Account
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
    Layout = "_DashboardLayout";
}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-lock"></i> Zmiana hasła
            </div>
            <form id="change-password-form" method="post">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-default">Zmień hasło</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card text-white bg-info">
            <div class="card-header">Zmiana hasła</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
