@{
    ViewData["Title"] = "Mail został wysłany";
    Layout = "_AccountLayout";
}
<div class="col-md-8">
    <div class="card-group">
        <div class="card text-white bg-green py-4" style="width:44%">
            <div class="card-body text-center">
                <div>
                    <h2>Mail został wysłany</h2>
                    <p>Na Twój mail została wysłana widomość z linkiem prowadzącym do strny zmiany hasła. </p>
                    <a asp-controller="Home" asp-action="Index" role="button" class="btn btn-pill btn-outline-light  mt-3">Strona główna</a>
                </div>
            </div>
        </div>
    </div>
</div>