@model ZHPEvents.Models.Raport

@{
    ViewData["Title"] = "Edit";
    Layout = "_Dashboard";
}

<h6>Edycja raportu o nazwie: <br />@Model.Title</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionTime" class="control-label"></label>
                <input asp-for="AdditionTime" class="form-control" />
                <span asp-validation-for="AdditionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddingPerson" class="control-label"></label>
                <input asp-for="AddingPerson" class="form-control" />
                <span asp-validation-for="AddingPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmingPerson" class="control-label"></label>
                <input asp-for="ConfirmingPerson" class="form-control" />
                <span asp-validation-for="ConfirmingPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
