@using ZHPEvents.Core.Identity;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> ZHPEventsUser;
@model AppUser

@{
    ViewData["Title"] = "Edycja użytkownika";
    Layout = "_DashboardLayout";

    bool administrator = await ZHPEventsUser.IsInRoleAsync(Model, "Administrator");
    bool editor = await ZHPEventsUser.IsInRoleAsync(Model, "Editor");
    bool author = await ZHPEventsUser.IsInRoleAsync(Model, "Author");
    bool eventEditor = await ZHPEventsUser.IsInRoleAsync(Model, "EventEditor");
    bool eventAuthor = await ZHPEventsUser.IsInRoleAsync(Model, "EventAuthor");
    bool raportEditor = await ZHPEventsUser.IsInRoleAsync(Model, "RaportEditor");
    bool raportAuthor = await ZHPEventsUser.IsInRoleAsync(Model, "RaportAuthor");
    bool user = await ZHPEventsUser.IsInRoleAsync(Model, "User");

}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card">
            <div class="card-header"><i class="nav-icon fas fa-user-cog"></i> Edycja danych użytkownika: @Model.FristName @Model.LastName</div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FristName" class="control-label"></label>
                        <input asp-for="FristName" class="form-control" placeholder="@Model.FristName" />
                        <span asp-validation-for="FristName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" placeholder="@Model.LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (administrator)
                        {
                            <input type="checkbox" class="custom-control-input" id="Administrator" name="Administrator" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="Administrator" name="Administrator" value="true">
                        }
                        <label class="custom-control-label" for="Administrator"><i class="fas fa-user-astronaut progress-group-icon"></i>Administrator</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (editor)
                        {
                            <input type="checkbox" class="custom-control-input" id="Editor" name="Editor" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="Editor" name="Editor" value="true">
                        }
                        
                        <label class="custom-control-label" for="Editor"> <i class="fas fa-user-md progress-group-icon"></i>Edytor</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (author)
                        {
                            <input type="checkbox" class="custom-control-input" id="Author" name="Author" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="Author" name="Author" value="true">
                        }
                        
                        <label class="custom-control-label" for="Author"><i class="fas fa-user-graduate progress-group-icon"></i>Autor</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (eventEditor)
                        {
                            <input type="checkbox" class="custom-control-input" id="EventEditor" name="EventEditor" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="EventEditor" name="EventEditor" value="true">
                        }
                        
                        <label class="custom-control-label" for="EventEditor"><i class="fas fa-user-clock progress-group-icon"></i>Edytor wydarzeń</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (eventAuthor)
                        {
                            <input type="checkbox" class="custom-control-input" id="EventAuthor" name="EventAuthor" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="EventAuthor" name="EventAuthor" value="true">
                        }
                        <label class="custom-control-label" for="EventAuthor"> <i class="fas fa-user-tag progress-group-icon"></i>Autor wydarzeń</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (raportEditor)
                        {
                            <input type="checkbox" class="custom-control-input" id="RaportEditor" name="RaportEditor" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="RaportEditor" name="RaportEditor" value="true">
                        }
                        
                        <label class="custom-control-label" for="RaportEditor"> <i class="fas fa-user-tie progress-group-icon"></i>Edytor raportów</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (raportAuthor)
                        {
                            <input type="checkbox" class="custom-control-input" id="RaportAuthor" name="RaportAuthor" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="RaportAuthor" name="RaportAuthor" value="true">
                        }
                            <label class="custom-control-label" for="RaportAuthor">
                                <i class="fas fa-user-lock progress-group-icon"></i>
                                Autor raportów
                            </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        @if (user)
                        {
                            <input type="checkbox" class="custom-control-input" id="User" name="User" value="true" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="User" name="User" value="true">
                        }
                        
                        <label class="custom-control-label" for="User"> <i class="fas fa-user-injured progress-group-icon"></i>Zwykły użytkownik</label>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <input type="submit" value="Save" class="btn btn-pill  btn-outline-success" />
                    <a asp-action="Index" role="button" class="btn btn-pill  btn-outline-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card text-white bg-info">
            <div class="card-header">Edycja użytkownika</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
