@using Microsoft.AspNetCore.Identity
@using ZHPEvents.Models.Identity

@inject SignInManager<ZHPEventsUser> SignInManager
@inject UserManager<ZHPEventsUser> UserManager

@model IEnumerable<ZHPEvents.Models.Event>

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Wydarzenia w ZHP</h1>
        <p class="lead text-muted">Witamy na stronie z wydarzeniami harcerskimi. Możesz poniżej zoabczyć trzy najnowższe wydarzenia lub: </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Zobacz wszystkie wydarzenia</a>
            <a href="#" class="btn btn-secondary my-2">Dowiedz się jak opublikować wydarzenia</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                <h4>@item.Tittle</h4>
                                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("EventEditor"))
                                    {
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    }
                                    else if (user != null && user.Id == item.AddingPerson)
                                    {
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    }
                                </div>
                                <small class="text-muted">@item.AdditionTime.Date.ToString("dd.mm.yyyy")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

