@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>@ViewData["Title"] - ZHPEvents</title>
    <link rel="icon" href="~/favicon.ico">

    <link href="~/coreui/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/coreui/simple-line-icons.css" rel="stylesheet" />

    <link href="~/coreui/style.css" rel="stylesheet" />
    <link href="~/coreui/pace.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <form class="form-signin" method="post">
                            <div class="card-body">
                                <h1>Logowanie</h1>
                                <p class="text-muted">Zalaguj się na swoje konto</p>
                                <p><div asp-validation-summary="All" class="text-danger"></div></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-at"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Email" type="email" id="inputEmail" class="form-control input-right-radius" placeholder="Email address" required autofocus>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Password" type="password" id="inputPassword" class="form-control input-right-radius" placeholder="Password" required>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox mb-3">

                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-pill btn-outline-success px-4" type="submit">Loguj</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a asp-page="./ForgotPassword" role="button" class="btn btn-link px-0">Zapomniałeś hasła?</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card text-white bg-green py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a asp-page="./Register" role="button" class="btn btn-pill btn-outline-light  mt-3">Zarejestruj się</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/coreui/jquery.min.js"></script>
    <script src="~/coreui/popper.min.js"></script>
    <script src="~/coreui/bootstrap.min.js"></script>
    <script src="~/coreui/pace.min.js"></script>
    <script src="~/coreui/perfect-scrollbar.min.js"></script>
    <script src="~/coreui/coreui.min.js"></script>
    <script src="~/js/smooth-scroll.polyfills.min.js"></script>
    <script>
        $(window).on('load', function () {
            $('#exampleModal').modal('show');
        });
    </script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>