@page
@model RegisterModel

@{
    ViewData["Title"] = "Rejestracja";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>@ViewData["Title"] - ZHPEvents</title>
    <link rel="icon" href="~/favicon.ico">

    <link href="~/coreui/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/coreui/simple-line-icons.css" rel="stylesheet" />

    <link href="~/coreui/style.css" rel="stylesheet" />
    <link href="~/coreui/pace.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <form method="post">
                        <div class="card-body p-4">
                            <h1>Register</h1>
                            <p class="text-muted">Stwórz swoje konto</p>
                            <p><div asp-validation-summary="All" class="text-danger"></div></p>
                            @*<div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Username">
                                </div>*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@@</span>
                                </div>
                                <input asp-for="Input.Email" type="email" id="inputEmail" class="form-control input-right-radius" placeholder="Email address" required autofocus>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="Input.Password" type="password" id="inputPassword" class="form-control input-right-radius" placeholder="Password" required>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="Input.ConfirmPassword" type="password" id="inputConfirmPassword" class="form-control input-right-radius" placeholder="Confirm Password" required>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button class="btn btn-pill  btn-block btn-success" type="submit">Stwórz konto</button>
                        </div>
                    </form>
                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-6">
                                <a asp-page="./Login" role="button" class="btn btn-pill  btn-block btn-success">
                                    <span>Zaloguj się!</span>
                                </a>
                            </div>
                            <div class="col-6">
                                <a asp-page="./ForgotPassword" role="button" class="btn btn-pill  btn-block btn-primary">
                                    <span>Zapomniałeś hasła?</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/coreui/jquery.min.js"></script>
    <script src="~/coreui/popper.min.js"></script>
    <script src="~/coreui/bootstrap.min.js"></script>
    <script src="~/coreui/pace.min.js"></script>
    <script src="~/coreui/perfect-scrollbar.min.js"></script>
    <script src="~/coreui/coreui.min.js"></script>
    <script src="~/js/smooth-scroll.polyfills.min.js"></script>
    <script>
        $(window).on('load', function () {
            $('#exampleModal').modal('show');
        });
    </script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>