@using Microsoft.AspNetCore.Identity
@using ZHPEvents.Core.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var _controllerName = (this.ViewContext.RouteData.Values["controller"] != null) ? this.ViewContext.RouteData.Values["controller"].ToString() : "";
    var _actionName = (this.ViewContext.RouteData.Values["action"] != null) ? this.ViewContext.RouteData.Values["action"].ToString() : "";

    string controllerName = "";
    string actionName = "";
    switch (_controllerName)
    {
        case "Events":
            controllerName = "Wydarzenia";
            break;
        case "Raports":
            controllerName = ("Raporty");
            break;
        case "Users":
            controllerName = ("Użytkownicy");
            break;
        case "Identity":
            controllerName = ("Zarządzanie kontem");
            break;
        default:
            break;
    }
    switch (_actionName)
    {
        case "Create":
            actionName = "Utwórz";
            break;
        case "Edit":
            actionName = "Edytuj";
            break;
        case "Delete":
            actionName = "Usuń";
            break;
        case "Details":
            actionName = "Szczegóły";
            break;
        default:
            break;
    }
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>@ViewData["Title"] - ZHPEvents</title>
    <link rel="icon" href="~/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link href="~/coreui/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/coreui/simple-line-icons.css" rel="stylesheet" />

    <link href="~/coreui/style.css" rel="stylesheet" />
    <link href="~/coreui/pace.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show body-img">
    <header class="app-header navbar" id="top">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-brand text-green">
            <span class="navbar-brand-full">
                <i class="fas fa-campground"></i>&nbsp;&nbsp;
                <strong>ZHPEvents</strong>
            </span>
            <span class="navbar-brand-minimized">
                <i class="fas fa-campground"></i>
            </span>
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Strona główna</a>
            </li>
        </ul>

        <partial name="_LoginPartial" />
        <span>
            &nbsp;&nbsp; &nbsp;&nbsp;
        </span>

    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
                        </a>
                    </li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("Author") || User.IsInRole("EventEditor") || User.IsInRole("EventAuthor"))
                    {
                        <li class="nav-title">Publikowanie</li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon fas fa-calendar"></i> Wydarzenia
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Events" asp-action="Create" class="nav-link">
                                        <i class="nav-icon fas fa-calendar-plus"></i> Dodaj
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Events" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-calendar-alt"></i> Wszystkie
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Events" asp-action="" class="nav-link">
                                        <i class="nav-icon fas fa-calendar-check"></i> Zakceptowane
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Events" asp-action="" class="nav-link">
                                        <i class="nav-icon fas fa-calendar-minus"></i> Niezakceptowane
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Events" asp-action="" class="nav-link">
                                        <i class="nav-icon fas fa-calendar-times"></i> Zarchiwizowane
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("Author") || User.IsInRole("RaportEditor") || User.IsInRole("RaportAuthor"))
                    {
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon fas fa-file"></i> Raporty
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Raports" asp-action="Create" class="nav-link">
                                        <i class="nav-icon fas fa-file"></i> Dodaj
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Raports" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-copy"></i> Wszystkie
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Raports" asp-action="" class="nav-link">
                                        <i class="nav-icon fas fa-file-alt"></i> Zakceptowane
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Raports" asp-action="" class="nav-link">
                                        <i class="nav-icon fas fa-file-excel"></i> Niezakceptowane
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Raports" asp-action="" class="nav-link">
                                        <i class="nav-icon fas fa-file-archive"></i> Zarchiwizowane
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-divider"></li>
                        <li class="nav-title">Administracja</li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon fas fa-users-cog"></i> Użytkownicy
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Users" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-users"></i> Wszyscy
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="nav-divider"></li>
                    <li class="nav-title">Użytkownik</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-user-cog"></i> Konto
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Profile" class="nav-link">
                                    <i class="nav-icon fas fa-user-edit"></i> Profil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="ChangePassword" class="nav-link">
                                    <i class="nav-icon fas fa-lock"></i> Zmiana hasła
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <ol class="breadcrumb ">
                @if (_controllerName == "Dashboard" && _controllerName != "")
                {
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="text-green">
                            Dashboard
                        </a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="text-green">
                            Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller=@_controllerName asp-action="Index" class="text-green">
                            @controllerName
                        </a>
                    </li>
                    @if (_actionName != "Index" && _actionName != "")
                    {
                        <li class="breadcrumb-item">
                            <a asp-area="" asp-controller=@_controllerName asp-action=@_actionName class="text-green">
                                @actionName
                            </a>
                        </li>
                    }
                }
            </ol>
            <div class="container-fluid">
                <div id="ui-view">
                    <div class="animated fadeIn">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="app-footer">
        <div>
            <a href="https://coreui.io/pro/">ZHPEvents</a>
            <span>© 2018</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="https://coreui.io/pro/">CoreUI Pro</a>
        </div>
    </footer>

    <script src="~/coreui/jquery.min.js"></script>
    <script src="~/coreui/popper.min.js"></script>
    <script src="~/coreui/bootstrap.min.js"></script>
    <script src="~/coreui/pace.min.js"></script>
    <script src="~/coreui/perfect-scrollbar.min.js"></script>
    <script src="~/coreui/coreui.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
