@using Microsoft.AspNetCore.Identity
@using ZHPEvents.Core.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown">Czuwaj @UserManager.GetUserName(User)!</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="dropdown-item">Dashboard</a>
                    <button type="submit" class="btn btn-link dropdown-item">Logout</button>
                </div>
            </li>
        </ul>
    </form>
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown active">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown">Czuwaj!</a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
                <a asp-area="Identity" asp-page="/Account/Login" class="dropdown-item">Logowanie</a>
                <a asp-area="Identity" asp-page="/Account/Register" class="dropdown-item">Rejestracja</a>
            </div>
        </li>
    </ul>
}