
@*@model LoginModel*@

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="icon" href="~/favicon.ico">

    <link href="~/coreui/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/coreui/simple-line-icons.css" rel="stylesheet" />

    <link href="~/coreui/style.css" rel="stylesheet" />
    <link href="~/coreui/pace.min.css" rel="stylesheet" />
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/coreui/jquery.min.js"></script>
    <script src="~/coreui/popper.min.js"></script>
    <script src="~/coreui/bootstrap.min.js"></script>
    <script src="~/coreui/pace.min.js"></script>
    <script src="~/coreui/perfect-scrollbar.min.js"></script>
    <script src="~/coreui/coreui.min.js"></script>
    <script src="~/js/smooth-scroll.polyfills.min.js"></script>
    <script>
        $(window).on('load', function () {
            $('#exampleModal').modal('show');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>