@using Microsoft.AspNetCore.Identity
@using ZHPEvents.Core.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        
<ul class="nav navbar-nav ml-auto">
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="d-block d-sm-none"><i class="fas fa-user-circle fa-2x"></i></span>
                <span class="d-none d-sm-block">Czuwaj @UserManager.GetUserName(User)!&nbsp;<i class="fas fa-caret-down"></i></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="dropdown-item">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">
                    <i class="fa fa-user-tag"></i> Profil
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-question-circle"></i> Pomoc
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-language"></i> Jezyk
                </a>
                <button type="submit" class="btn btn-link dropdown-item"><i class="fa fa-user-slash"></i> Logout</button>
            </div>
        </li>
    </form>
</ul>
        
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="d-block d-sm-none"><i class="fas fa-user-circle fa-2x"></i></span>
                <span class="d-none d-sm-block">Czuwaj <i class="fas fa-caret-down"></i></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a asp-area="Identity" asp-page="/Account/Login" class="dropdown-item">
                    <i class="fas fa-user-check"></i> Logowanie
                </a>
                <a asp-area="Identity" asp-page="/Account/Register" class="dropdown-item">
                    <i class="fa fa-user-plus"></i> Rejestracja
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-language"></i> Jezyk
                </a>
            </div>
        </li>
    </ul>
}